$border_radius_button: 15px;
$shadow: 8px 8px 24px rgba(0, 0, 0, 0.2);

.navigation {
  background: transparent;
  box-shadow: none;

  .logo,
  .logo::after {
    border: 0;
    outline: transparent;
    position: relative;
    text-transform: none;
    justify-self: center;
    height: fit-content;

    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }

  .logo::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: "Cristian";
    display: block;
    position: absolute;
    width: 9.3em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      45deg,
      transparent 3%,
      #f8f8ff 3%,
      #448aa6 5%,
      #f44336 5%
    );
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #f8f8ff;
    clip-path: var(--slice-0);
  }

  .button_1 {
    text-transform: none;
    justify-self: center;
    width: 9em;
    height: fit-content;

    &:hover {
      background: -webkit-linear-gradient(0deg, #448aa6, #448aa6);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      transform: scale(1.1);
      transition: 0.2s;
      z-index: 1000;
    }
  }

  .button_2,
  .button_2::after {
    background: linear-gradient(45deg, transparent 5%, #f44336 5%);
    border: 0;
    color: #f8f8ff;
    outline: transparent;
    position: relative;
    width: 9em;
    text-transform: none;
    justify-self: center;
    border-radius: $border_radius_button;
    box-shadow: $shadow;
    height: fit-content;
  }

  .button_2:hover {
    background: linear-gradient(45deg, transparent 5%, #448aa6 5%);
    transform: scale(1.1);
    transition: 0.2s;
    z-index: 1000;
  }

  .button_2:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }

  .button_2::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: "Contact me!";
    display: block;
    position: absolute;
    width: 9.3em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      45deg,
      transparent 3%,
      #f8f8ff 3%,
      #f8f8ff 5%,
      #f44336 5%
    );
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #f8f8ff;
    clip-path: var(--slice-0);
  }

  .button_section {
    display: "block";
    text-transform: none;

    &:hover {
      color: #448aa6;

      transform: scale(1.2);
      transition: 0.2s;
      z-index: 1000;
    }
  }
}

.cover {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 80px;
  padding: 40px;
  height: 100vh;

  display: flex;
  align-items: center;

  //for video
  position: relative;
  overflow: hidden;

  p {
    position: relative;
    text-shadow: $shadow;
  }

  .p_1 {
    font-size: 3rem;
    margin: -12px 0;
  }
  .p_2 {
    font-size: 4rem;
    margin: -25px 0;
  }
  .p_3 {
    font-size: 7rem;
    margin: -50px 0;
  }

  button {
    background-color: transparent;
    border: 1px solid;
    color: #f8f8f8;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
  }

  video {
    position: absolute;
    top: -2em;
    left: -4em;
    min-width: 100vh;
    filter: blur(3px);
    opacity: 0.6;
  }
}

/* Medium devices (landscape tablets, 900px and up) */
@media only screen and (max-width: 900px) {
  .cover {
    width: 100%;
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;

    .p_1 {
      font-size: unset;
      margin: 0;
    }
    .p_2 {
      font-size: unset;
      margin: 0;
    }
    .p_3 {
      font-size: unset;
      margin: 0;
    }

    video {
      left: -22em;
    }
  }
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px 0px);
  }
  100% {
    clip-path: var(--slice-3);
    transform: translate(0);
  }
}
