.container {
  background-color: #024059;
  color: #f8f8ff;
  width: 100%;

  display: flex;
}

.item {
  display: flex;
  width: 33.33%;
  padding: 0 10px;
  align-items: center;

  p {
    padding: 0 10px;
  }
}

.endContent {
  justify-content: end;
}

.icon {
  font-size: 22px;
  margin: 10px;
}
